<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>backWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servlet01</display-name>
    <servlet-name>servlet01</servlet-name>
    <servlet-class>backWeb.a01_servlet.A01_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet01</servlet-name>
    <url-pattern>/servlet01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>a02_servlet</display-name>
    <servlet-name>a02_servlet</servlet-name>
    <servlet-class>backWeb.a01_servlet.A02_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a02_servlet</servlet-name>
    <url-pattern>/a02_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>htmlRendering</display-name>
    <servlet-name>htmlRendering</servlet-name>
    <servlet-class>backWeb.a01_servlet.A03_Servlet_html</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>htmlRendering</servlet-name>
    <url-pattern>/htmlRendering</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>htmlTable</display-name>
    <servlet-name>htmlTable</servlet-name>
    <servlet-class>backWeb.a01_servlet.A04_Servlet_html</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>htmlTable</servlet-name>
    <url-pattern>/htmlTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>expservlet</display-name>
    <servlet-name>expservlet</servlet-name>
    <servlet-class>backWeb.a01_servlet.Exp_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>expservlet</servlet-name>
    <url-pattern>/expservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>codeIns.do</display-name>
    <servlet-name>codeIns.do</servlet-name>
    <servlet-class>backWeb.a01_servlet.A06_CodeInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>codeIns.do</servlet-name>
    <url-pattern>/codeIns.do</url-pattern>
  </servlet-mapping>
</web-app>