/* 전체 적용 css */

#seller-content{
            
    margin-left: 28%;
    
}
#productTitle {
    text-align: center;
    width: 60%;
    
}
#category, #product, #sale-price, #stock, #product-image{
    background-color: rgb(203, 201, 201);
    width: 60%; 
    margin-bottom: 10px;
    padding-left: 10px;
}
.title {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.inner-content {
    padding-top: 15px;
}
.form15 {
    margin-top: 15px;
}

/* 이미지 css */

img {
    width: 15%;
    height: 120px;
    position: relative;
    left: 17%;
    bottom: 20px;
}

/* 공통 버튼 적용 css */

#form-btn {
    position: relative;
    left: 46%;
    width: 100px;
    border-radius: 3px;
    border: 0;
    outline: 0;
    cursor: pointer;
    
}
#form-btn:hover {
    background-color: #757575;
    color: white;
    transition: all .3s;
}

/* 검색, 첨부하기, 등록, 취소 버튼 css */

input[name=attach] {
    position:relative; 
    left: 1%;
    background-color: rgb(64, 64, 64);
    color: white;
    border-radius: 3px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
input[name=attach]:hover {
    background-color: #757575;
    color: white;
    transition: all .3s;
}
input[name=search] {
    width: 15%;
    height: auto;
    border-radius: 3px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: rgb(64, 64, 64);
    color: white;
}
input[name=search]:hover {
    background-color: #757575;
    color: white;
    transition: all .3s;
}
input[name=enroll] {
    background-color: rgb(64, 64, 64);
    color: white;
}
input[name=cancel] {
    background-color: rgb(147, 146, 146);
    color: white;
}